{% extends "layout.html" %}


{% block content %}


<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Day 1</button>
  <button type="button" class="btn btn-default">Day 2</button>
  <button type="button" class="btn btn-default">Day 3</button>
</div>
<button type="button" class="btn btn-default">+Add Day</button>





{% endblock %}
<script>

{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ thingsToDo | json }};
{% endautoescape %}

</script>
