{% extends "layout.html" %}


{% block content %}
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div id="daysBtnGroup" class="btn-group" role="group" aria-label="...">
      {% for day in days %}
      <button id="{{day.day_number}}" type="button" class="btn btn-primary">Day {{day.day_number}}</button>
      {% endfor %}
    </div>
    <button id="add-day" type="button" class="btn btn-default">+Add Day</button>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4"><label>Hotels</label></div>
      <div class="col-sm-4 col-md-4 col-lg-4"><label>Things to Do</label></div>
      <div class="col-sm-4 col-md-4 col-lg-4"><label>Restaurants</label></div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">

        <select id="hotel-select" class="form-control tpSelect">
          {% for hotel in hotels %}
          <option data="{{hotel |json}}">{{hotel.name}}</option>
          {% endfor %}
        </select>
        <button id="btn-hotel" type="button" class="btn btn-primary">Add</button>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">

        <select id="thing-to-do-select" class="form-control tpSelect">
          {% for thingsToDo in thingsToDo %}
          <option data="{{thingsToDo |json}}">{{thingsToDo.name}}</option>
          {% endfor %}
        </select>
        <button id="btn-thing-to-do" type="button" class="btn btn-primary">Add</button>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">

        <select id="restaurant-select" class="form-control tpSelect">
          {% for restaurants in restaurants %}
          <option data="{{restaurants |json}}">{{restaurants.name}}</option>
          {% endfor %}
        </select>
        <button id="btn-restaurant" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>

  </div>
</div>
<div class="row" style="height:20px;"></div>


<div id="day-container">

  {% for day in days %}
  <div id="day{{day.day_number}}-content" class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <h1>Plan for Day <span id="plan-day-number">{{day.day_number}}</span></h1>
      <ul id="day-info">
        <li>
          <strong>Hotel</strong>
          <ul id="hotel-list" style="list-style: none; padding-left: 0px">
            {% for hotel in day.hotels %}
            <li>{{hotel.name}}<span data='{{hotel.id}}' id='trash-can' class='glyphicon glyphicon-trash pull-right'></span></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <strong>Things To Do</strong>
          <ul id="thing-to-do-list" style="list-style: none; padding-left: 0px">
            {% for thingToDo in day.thingsToDos %}
            <li>{{thingToDo.name}}<span data='{{thingToDo.id}}' id='trash-can"+(markers.length-1)+"' class='glyphicon glyphicon-trash pull-right'></span></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <strong>Restaurants</strong>
          <ul id="restaurant-list" style="list-style: none; padding-left: 0px">
            {% for restaurant in day.restaurants %}
            <li>{{restaurant.name}}<span data='{{restaurant.id}}' id='trash-can' class='glyphicon glyphicon-trash pull-right'></span></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" style="height:500px;">
      <div id="map-canvas-{{day.day_number}}" style="width: 100%; height: 100%"></div>
    </div>
  </div>
  {% endfor %}

  <!-- <div id="day1-content" class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <h1>Plan for Day <span id="plan-day-number">1</span></h1>
      <ul>
        <li>
          <strong>Hotel</strong>
          <ul id="hotel-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Things To Do</strong>
          <ul id="thing-to-do-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Restaurants</strong>
          <ul id="restaurant-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" style="height:500px;">
      <div id="map-canvas-1" style="width: 100%; height: 100%"></div>
    </div>
  </div>

  <div id="day2-content" class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <h1>Plan for Day <span id="plan-day-number">2</span></h1>
      <ul>
        <li>
          <strong>Hotel</strong>
          <ul id="hotel-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Things To Do</strong>
          <ul id="thing-to-do-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Restaurants</strong>
          <ul id="restaurant-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" style="height:500px;">
      <div id="map-canvas-2" style="width: 100%; height: 100%"></div>
    </div>
  </div>

  <div id="day3-content" class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <h1>Plan for Day <span id="plan-day-number">3</span></h1>
      <ul>
        <li>
          <strong>Hotel</strong>
          <ul id="hotel-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Things To Do</strong>
          <ul id="thing-to-do-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
        <li>
          <strong>Restaurants</strong>
          <ul id="restaurant-list" style="list-style: none; padding-left: 0px">

          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" style="height:500px;">
      <div id="map-canvas-3" style="width: 100%; height: 100%"></div>
    </div>
  </div> -->
</div>

<div class="row" style="height:35px;"></div>
{% endblock %}


{% block script %}

<script>

{% autoescape false %}
var numDays = {{days.length}};
var days = {{days | json}};
{% endautoescape %}



// var all_hotels = {{ hotels | json }};
// var all_restaurants = {{ restaurants | json }};
// var all_things_to_do = {{ thingsToDo | json }};



</script>

{% endblock %}
